<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LanguageExt" version="1.0.0" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net46" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" userInstalled="true" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="net46" userInstalled="true" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net46" userInstalled="true" />
</packages>